<!--<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.id,user %>
        <%= gravatar_for user, size: 20 %>
        <%= link_to user.name, user %>

             <%= link_to user.email,user %>
        <%= link_to 'Destroy', user_path(user),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
        </li>
        <% end %>
      </ul>
<%= will_paginate %>-->


<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>
